<nav>
    <a href="/">Home</a>

    <% if (!user) { %>
        <a href="/login" style="float:right">Login</a>
    <% } else { %>
        <span style="float:right">
            👤 <%= user.name %> |
                <a href="/logout">Logout</a>
        </span>
    <% } %>
</nav>