<!DOCTYPE html>
<html lang="en">

    <%- include("head") %> 

<header>
    <div class="bg-[#F8F8F8] h-[78px] flex items-center border-b border-gray-300 sticky top-0 z-50">
        <div class="ml-[60px]">
            <a href="/">
                <img src="/img/home/logo1.png" class="w-[100px] h-[67px]">
            </a>
        </div>

        <div class=" ml-[1000px]">
            <a href="/customer/cart">
                <img src="/img/home/cart.png" class="w-[47px] h-[47px]">
            </a>
        </div>

        <div class="ml-[40px]">
            <a href="/customer/profile">
                <img src="/img/profile/<%= user.name %>.png" class="w-[40px] h-[40px] rounded-full object-cover border">
            </a>
        </div>
    </div>
</header>